<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Boutlist</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

	<h2>Bouts</h2>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Competitor 1</th>
				<th>Competitor 2</th>
				<th>Organization</th>
				<th>Place</th>
				<th>Division</th>
				<th>Date</th>
				<th>More info</th>
				<th></th>
				<th></th>
			</tr>
		</tbody>
		<tbody>

			<tr th:each="bout : ${bouts}">
				<td th:text="${bout.competitor1}"></td>
				<td th:text="${bout.competitor2}"></td>
				<td th:text="${bout.organization}"></td>
				<td th:text="${bout.place}"></td>
				<td th:text="${bout.division}"></td>
				<td th:text="${bout.date}"></td>
				<td th:text="${bout.info}"></td>
				<td><a class="btn btn-danger"
					th:href="@{/delete/{id}(id=${bout.id})}">Delete</a></td>
				<td><a class="btn btn-primary"
					th:href="@{/edit/{id}(id=${bout.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<div>
		<a class="btn btn-success" href="/add">Add a new bout</a>
	</div>

	<br>

</body>
</html>
